h1{
    position: absolute;
    top:20px;
    left:20px;
    font-size: 24px;
    color:green;
}
body {
    font-family: Arial, sans-serif;
    background-image: url("../main_img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h2 {
    margin-bottom: 20px;
}
input[type="text"], input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid lightgreen;
    border-radius: 4px;
}

button {
    background-color: #082e12;
    color: white;
    padding: 10px;
    margin:10px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
}
button:hover {
    background-color: #218838;
}
.ForgotPassword {
    margin-top: 20px;
    font-size: 14px;
    color: green;

}
@media(max-width:600px){
    .ForgotPassword{
        font-size: 18px;
    }
}
